loc-doc

# JS / Node
node_modules/
dist/
build/
.next/
*.tsbuildinfo
coverage/
.turbo/

# Nx
.nx/cache/
.nx/workspace-data/
.nx/migrate-runs/

# Go
target/
apps/services/rag-gateway-service/bin/

# Python
.venv/
__pycache__/
*.pyc

# misc
.DS_Store
